target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE specific
.idea/
*.iml
.project
.classpath
.factorypath
.settings/
.vscode/

# Ignore all markdown files
*.md

# Application specific
data/
*.log
